
@media screen and (max-width: 1150px) {
    .navbar ul li{padding-left: 5px !important;}
    .rounded-image{height: 300px; width: 300px; margin-top: 50px}
    .fa-chevron-left,.fa-chevron-right{display: none}
}

@media screen and (max-width: 768px){
 header{height: 800px}
    #small-screen{float: none !important;}
}