*{margin: 0; padding: 0}
html, body{ width: 100%; height: auto; background: url("../images/background.jpg")fixed;background-size: 100% 100%;border-left:5px solid #2b2b2b;border-right: 5px solid #2b2b2b;background-color: #333333;min-width: 350px;}

/*Default colors*/

.color-gr{color:#66cc99}
.color-gry{color: #979797}
.bg-col-w{background-color: white}
.bg-col-gr{background-color: #66cc99}
.bg-col-semi-black{background-color: #333333}
.bg-col-black{background-color: #2b2b2b}
.bg-full-blacj{background-color: #000000}
.margin-bottom-small{margin-bottom: 5px}
.margin-bottom-large{margin-bottom: 15px}
/* Default property values */
p{font-family: Georgia;font-size: 13px;text-decoration: none}

/*classes*/
header{width: 100%;height: 600px;background: rgba(0,0,0,0.6););color:white;border-top: 10px solid #66cc99;}
header nav a h3{margin-bottom:0;font-family: Georgia;letter-spacing: 1.2px}
header nav a p{letter-spacing: 1.5px;color: #979797 !important;}
header nav a h3,header nav a p{color: white}
.navbar{background:none}
.navbar ul li{padding-left: 25px !important;padding-right: 25px !important;}
.navbar-light ul li a{color: white !important;}
nav ul li a{display: block;padding-left: 25px !important;;padding-right:25px !important;font-weight: bold;font-size: 13px;transform: scaleY(1)}
nav ul li a:hover{background-color: #66cc99;border-radius: 5px;transition: 0.2s;transform: scaleY(1.3)}
.active-nav{background-color: #66cc99;border-radius: 5px}
.rounded-image{border-radius: 50%;border: 15px solid #979797;z-index: 3;height:380px;width:380px;box-shadow: 0 10px 3px #000}
.read-more{display: block; padding: 10px;background-color: #66cc99;color: aliceblue;text-align: center;border-radius: 5px;box-shadow: 0 4px 3px #000}
.read-more:hover{text-decoration: none;color: white;background-color: aquamarine;transition: 0.5s;transform: scaleY(1.3);box-shadow: 0 6px 4px #000}
.back{background-color: rgba(250,252,252,0.2)}
.service-title{border-bottom: 10px solid #333333;padding-bottom: 100px;padding-top: 100px;}
.service{margin: 20px;padding: 25px;text-align: center;background-color: white;color:#979797;box-shadow: 0 4px 3px #000}
.service h4,i{color:#333333}
.service:hover{background-color: #66cc99;color:white;transition: 0.8s;transform: rotateX(360deg)}
.service:hover h4 ,.service:hover i{color:white}
.latest-work{padding-top: 100px;padding-bottom: 100px;position: relative}
.latest-work-header{position: absolute;display: block;padding: 10px;background-color: #2b2b2b;color: #cccccc;text-align: center;z-index: 3;border-radius: 5px; top: -30px;left: 40%;box-shadow: 0 4px 3px #000}
.latest-image{border: 10px solid white;box-shadow:  2px 2px 3px 1px #000; margin:10px;height: 190px;width: 290px;position: relative}
.latest-image:hover{border: 10px solid #66cc99;transition: 1s}
.latest-image:hover .tag-photo{display: none}
.tag-photo{display: block;position: absolute;bottom:0;left:0;text-align: center;background: rgba(0,0,0,0.6);color:white;width: 100%;margin-bottom: 0}
.quick-links{padding-top: 50px;padding-bottom: 50px;box-shadow:0 -4px 3px #000000}
.quick-links h3 {font-family: Arial;color: white;font-weight: lighter;font-size: 22px}
.quick-links p{color: #cccccc}
.quick-links ul li{border-bottom: 1px solid #000000;list-style: none}
.quick-links ul li a{display:block;}
.quick-links ul li a:hover{text-decoration: none;color:#66cc99}
.style-input{background-color: black;border-radius: 5px;margin-bottom: 30px;color: #cccccc;border: none;height: 40px;min-width: 100px;width: auto;padding: 5px}
textarea{background-color: black;border-radius: 5px;margin-bottom: 15px;border: none;color:#cccccc;padding: 5px}
textarea::placeholder{color: #979797;opacity: 0.6}
.style-input::placeholder{color:#979797;opacity: 0.6}
.form-button{display: block;background-color: #66cc99;color:#2b2b2b;height: 35px;width: 70px;border-radius: 5px;border: none;box-shadow: 0 4px 3px #000}
footer{border-top: 1px inset #000000;padding:15px}